.body {
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.container {
  height: 75%;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  color: #a1d9ce;
  margin: 4vh 0 2vh 0;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.detailKey {
  font-size: 20px;
}

.detailKeyThin {
  font-family: 'LINESeedKR-Rg';
  font-size: 20px;
}

.detailValue {
  font-size: 20px;
  font-family: 'LINESeedKR-Rg';
  line-height: 1.4;
}

.btnBox {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.btnBox button {
  /* 주의요함 */
  position:fixed;
  bottom:0;
  left: 0;
  right: 0;

  background-color: #AFEBDF;
  font-family: 'LINESeedKR-Bd';
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  border-radius: 5px;
  width: 100%;
}