.body {
  font-family: 'LINESeedKR-Rg';
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.accountInfoBox {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerPW {
  height: 85%;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.mycert {
  margin: 0 auto 0 auto;
  height: 45%;
  width: 75%;
  background-image: url('../../../../public/images/CertBackground.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 7%;
}


.subImgBox {
  height: 40%;
  overflow: hidden;
  position: absolute;
}

.subImgBox img {
  height: 35%;
  opacity: 50%;
}

.certlogoBox {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  
}
.certlogoBox img {
  height: 70%;
  z-index: 1;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'LINESeedKR-Rg';
  color: #ffffff;
}
.name {
  font-size: 20px;
  margin: 2vh 0 2vh 0; 
}
.detailcert {
  font-size: 15px;
}

.explanation {
  margin: 3vh 0 3vh 0;
  width: 80%;
  font-size: 20px;
}

.passwordBox {
  height: 10%;
  width: 80%;
  margin-bottom: 3vh;
}


.input{
  border-width: 0 0 1px;
  border-color: lightgray;
  width: 100%;
}

.input:focus{
  outline: none;
}

.btnBoxCert {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btnBoxCert div {
  background-color: #AFEBDF;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 80%;
}

.account {
  font-size: 18px;
  margin-bottom: 1vh;
}

.money {
  font-family: 'LINESeedKR-Bd';
  font-size: 28px;
  margin-bottom: 1vh;
}

.holder {
  font-size: 18px;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0 30px;
}

.detail {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1vh;
}

.detailKey {
  font-size: 20px;
}

.detailValue {
  font-size: 20px;
  line-height: 1.4;
}

.bankInput {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 2px solid #AFEBDF;
  border-radius: 5px;
  padding: 10px;
  margin: 2vh 0 2vh 0;
}

.btnBox {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.btnBox button {
  background-color: #AFEBDF;
  font-family: 'TheJamsil5Bold';
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  border-radius: 5px;
}

.btnBox button:first-child {
  background-color: lightgray;
}

.nextBtn {
  display: flex;
  width: 390px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #80CEBE;
  margin-top: 3rem;
}

.completeBtn {
  display: flex;
  width: 390px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #988dde;
  margin-bottom: 20px;
}


.cert {
  max-width: 400px;
  position: fixed;
  bottom: -100%;
  margin: auto;
  width: 80%;
  height: 75%;
  box-sizing: border-box;
  background-color: white;
  border: solid 3px black;
  border-radius: 20px;
  color: black;
  padding: 20px;
  z-index: 1000;
  transition: bottom 0.3s ease-in-out;
}

.cert.open {
  bottom: -30%;
}

/* Certificate 올라오는 부분 */
.certHeader {
  display: flex;
  justify-content: space-between;
}
.certHeader p {
  margin: 10px 0 15px 0;
}