.accBox {
  /* background-color: white; */
  height: 25vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.title {
  width: 90%;
  align-items: self-start;
  font-size: 26px;
  margin-bottom: 1vh;
}

.myAcc {
  /* background-color: rgba(128, 206, 190, 0.3); */
  background-color: white;
  /* border: solid 2px rgba(128, 206, 190); */
  height: 85%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.myAcc > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.myAcc > div:nth-child(even) {
  border-radius: 5px;
  padding: 5px 10px;
  justify-content: right;
  align-items: center;
  display: flex;
  color:black;
}

.titleText {
  font-size: 18px;
}

.contentText {
  font-size: 23px;
}