.accBox {
  /* background-color: white; */
  height: 37vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.title {
  width: 90%;
  align-items: self-start;
  font-size: 26px;
  margin-bottom: 1vh;
}

.myAcc {
  font-family: 'LINESeedKR-Rg';
  /* background-color: rgba(128, 206, 190, 0.3); */
  background-color: white;
  /* border: solid 2px rgba(128, 206, 190); */
  height: 90%;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.myAcc > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.myAcc > div:nth-child(even) {
  border-radius: 5px;
  padding: 5px 10px;
  justify-content: right;
  align-items: center;
  display: flex;
  color:black;
}

.myAcc > div:nth-child(5){
  color:grey;
  font-size: 20px;
  justify-content: space-around;
  border-top: 1px solid lightgray;
  margin-top: .6rem;
  padding: .8rem 0;
  color: rgb(83, 175, 157);
}

.myAcc > div:nth-child(5) > div:nth-child(2){
  color:grey;
  font-size: 25px;
  justify-content: space-around;
  border: 1px solid lightgray;
  padding: .5rem 0;
}

.titleText {
  font-size: 18px;
}

.contentText {
  font-family: 'LINESeedKR-Bd';
  font-size: 23px;
}