.accBox {
  background-color: white;
  height: 25vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.title {
  width: 90%;
  align-items: self-start;
  font-size: 30px;
  margin-bottom: 1vh;
}

.myAcc {
  background-color: #AFEBDF;
  height: 85%;
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.myAcc > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
  color: gray;
}

.myAcc > div:nth-child(even) {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  justify-content: right;
  align-items: center;
  display: flex;
  color:black;
}