.body {
  font-family: 'LINESeedKR-Rg';
  width: 90%;
  /* display: flex; */
  /* height: 560; */
}

.img {
  width: 80px;
  margin-right: .8rem;
}

.map {
  display: flex;
  font-size: 17px;
  /* border: 1px solid black; */
}

.detail{
  display: inline;
}

.mb{
  font-size: 15px;
  margin-bottom: .3rem;
}

.no{
  display: flex;
  align-items: center;
  justify-content: center;
}
