.body {
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.stepBox {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 90%;
  font-size: 28px;
}

.explanation {
  width: 90%;
  font-size: 16px;
}

.agree{
  font-family: "LINESeedKR-Bd";
  width: 90%;
  margin-top: 3vh;
  border-radius: 10px;
  border: 2px solid #ccc;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.agree img{
  width: 7px;
  padding: 1px 1px 0px 1px;
}

.agreeone{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 1vh;
}

.agreeone input{
  width:15px;
  height: auto;
  zoom:1.5;
}

.agreeone input:checked{
  width:15px;
  height: auto;
  zoom:1.5;
  accent-color: #80CEBE;
}

.agreeall{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  font-size: 20px;
  margin-bottom: 2vh;
  border-bottom: #ccc 1px solid;
}

.agreeall input{
  width:15px;
  height: auto;
  zoom:1.5;
}

.agreeall input:checked{
  width:15px;
  height: auto;
  zoom:1.5;
  accent-color: #80CEBE;
}

.fakeAgree {
  margin: 2vh 0 2vh 0;
  padding: 0 5px 0 5px;
  font-size: 13px;
  color: red;
}


.btnBox {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.goodbtn {
  background-color: #AFEBDF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 80%;
}

.notbtn {
  background-color: #ccc;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 80%;
}