.body {
  font-family: 'LINESeedKR-Rg';
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.mycert {
  height: 45%;
  width: 85%;
  background: linear-gradient(#5462f8, #2a2adf);
  border-radius: 7%;
}

.subImgBox {
  height: 40%;
  overflow: hidden;
  position: absolute;
}

.subImgBox img {
  height: 35%;
  opacity: 50%;
}

.certlogoBox {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  
}

.certlogoBox img {
  height: 70%;
  z-index: 1;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'LINESeedKR-Rg';
  color: #ffffff;
}

.name {
  font-size: 40px;
  margin: 2vh 0 2vh 0; 
}

.detail {
  color: #bcbcbc;
  font-size: 20px;
}


.addcert {
  font-family: 'LINESeedKR-Rg';
  background-color: rgb(128, 206, 190, 0.3);
  height: 30%;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.addcert img {
  margin-bottom: 1vh;
}

.sub {
  font-size: 16px;
  color: #a4a4a4;
}