.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide {
  display: block;
  width: 90%;
  margin-top: 15px;
}

.guidedetail {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 10px 0 5px 10px;
  font-size: 20px;
}

.serviceBtn {
  display: flex;
  width: 90%;
  height: 50%;
  margin-top: 30px;
}

.serviceBtnContainer {
  width: 45%;
  height: 45%;
  margin: 10px 15px 10px 15px;
  background-color: rgba(217, 217, 217, 0.25);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}