.body {
  font-family: "LINESeedKR-Rg";
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.inputBox {
  font-family: "LINESeedKR-Rg";
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 5vh;
  width: 90%;
  margin-top: 3vh;
}

.inputBox input {
  font-family: "LINESeedKR-Rg";
  outline: none;
  height: 70%;
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.underText {
  font-family: "LINESeedKR-Rg";
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 12px;
  width: 90%;
}

.inputBtn {
  font-family: "LINESeedKR-Rg";
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.inputBtn button{
  background-color: #AFEBDF;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  border-radius: 5px;
}

.inputBtn button:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

.resultBox {
  position: fixed;
  top: 30vh;
  width: 70vw;
  height: 15vh;
  background-color: rgb(242, 242, 242);
  color: black;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.infoBox {
  font-family: "LINESeedKR-Rg";
  height:60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.infoImgBox {
  width: 35%;
}

.infoImgBox img{
  width: 90%;
  border-radius: 50%;
}

.infoUserBox {
  font-family: "LINESeedKR-Rg";
  width: 65%;
}

.infoName {
  margin-bottom: 1vh;
}

.infoNumber {
  font-family: 'TheJamsil3Regular';
  font-size: 16px;
}

.resultBtnBox {
  font-family: "LINESeedKR-Rg";
  height: 40%;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.resultBtn button{
  background-color: #AFEBDF;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  border-radius: 5px;
}

.resultBtn button:hover {
  transform: scale(1.05);
  border-radius: 10px;
}

.resMsg{
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: auto;
  transition: left 0.5s ease-in-out;
}