.main {
  font-family: 'LINESeedKR-Rg';
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.body {
  max-height: 82%;
  min-height: 80%;
  width: 90%;
  overflow-y: scroll; /* 스크롤이 필요한 경우에만 스크롤 바 표시 */
  scrollbar-width: none; /* Firefox에서 스크롤 바 숨기기 */
  -ms-overflow-style: none;
}
.body::-webkit-scrollbar {
  width: 0; /* Webkit 기반 브라우저(Chrome, Safari)에서 스크롤 바 숨기기 */
  display: none; /* Safari에서 스크롤 바 숨기기 */
}

.editBtn {
  color:gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.search {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 3vh;
}

.search input::placeholder {
  font-size: 16px;
}

.search input[type="text"] {
  border: none;
  flex: 1;
  padding: 4px;
  outline: none;
}


.friendsList {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 72%;
  margin-bottom: 3vh;
  overflow-y: scroll; /* 스크롤이 필요한 경우에만 스크롤 바 표시 */
  scrollbar-width: none; /* Firefox에서 스크롤 바 숨기기 */
  -ms-overflow-style: none;
}

.friendsList::-webkit-scrollbar {
  width: 0; /* Webkit 기반 브라우저(Chrome, Safari)에서 스크롤 바 숨기기 */
  display: none; /* Safari에서 스크롤 바 숨기기 */
}

.friendItem {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.friendImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 20px;
}

.selectedFriend {
  background-color: #ccc;
}

.friendText {
  font-family: 'LINESeedKR-Bd';
  display: flex;
  align-items: center;
  min-width: 74px;
  font-size: 20px;
  margin-right: 10px;
}

.friendphone {
  min-width: 125px;
  /* color: #aaa; */
  font-size: 16px;
  margin-right: 20px;
}

.deleteBtn {
  color:red;
}

.friendsResBtn {
  font-size: 17px;
  color: #80CEBE;
  font-weight: bold;
  
}

.line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 20px 0 5px 0;
}