.footer {
  background-color: #AFEBDF;
  height: 12vh;
  position: fixed;
  width: 100%;
  bottom:0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}