.footer {
  background-color: #fff;
  border-top: 1px solid lightgray;
  /* height: calc(10% - 15px); */
  /* height: 60px; */
  width: 100%;
  justify-content: space-around;
  margin-top: auto;
  padding-top: 15px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
}

.footer img {
  height: 47px;
}

.iconStyle {
  font-size: 40px;
}

.activeIconStyle {
  font-size: 40px;
  color: #80CEBE;
}