.header {
  height: 7vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  margin-bottom: 2vh;
  margin-top: 1vh;
}
.menuicon {
  margin-left: 20px;
  grid:1;
}
.noticon {
  margin-right: 20px;
  grid:3;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}