.btnBox {
  height: 60px;
  margin-top: 2vh;
}

.pushSwitch {
  width: 100px;
  height: 45px;
  background-color: #ccc;
  border-radius: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.switchButton {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: #ccc 3px solid;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.pushEnabled {
  background-color: #AFEBDF;
}

.pushEnabled .switchButton {
  transform: translateX(50px);
  border: #AFEBDF 3px solid;
}