.agreement{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  /* top: 0; */
  height: 100vh;
}

.gappalogo{
  width: 150px;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 5vh;
}

.agree{
  width: 90%;
  height: 35vh;
  margin-top: 3vh;
}

.agree img{
  width: 7px;
  padding: 1px 1px 0px 1px;
}

.agreeone{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agreeone input{
  width:15px;
  height: auto;
  zoom:1.5;
}

.agreeone input:checked{
  width:15px;
  height: auto;
  zoom:1.5;
  accent-color: #80CEBE;
}

.agreeall{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  font-size: 20px;
}

.agreeall input{
  width:15px;
  height: auto;
  zoom:1.5;
}

.agreeall input:checked{
  width:15px;
  height: auto;
  zoom:1.5;
  accent-color: #80CEBE;
}


.buttondiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  width: 80%;
  height: 7vh;
  background: #80CEBE;
  border: 0;
  font-size: 20px;
}

.notbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  width: 80%;
  height: 7vh;
  background: lightgray;
  border: 0;
  font-size: 20px;
}