.bankbook{
  font-family: 'LINESeedKR-Rg';
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  height: 100vh;
  width: 100vw;
}

/* .all{
  width: 90%;
} */

.bankbookstyle{
  margin-top: 8vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  height: 60vh;
  width: 100%;
}

/* .bankbook hr{
  width: 90%;
} */

.bankbooklist{
  display: grid;
  grid-template-columns: 2.5fr 6fr 3fr;
  /* height: 60vh; */
}

.imgstyle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imgstyle img{
  width: 50px;
}

.bankcolor{
  color:#aeaeae;
}

.btn{
  font-size: 20px;
  width: 90%;
  height: 50px;
  border:0;
  border-radius: 5px;
  background-color: #80CEBE;
  color:white;
  margin-top: 10vh;
  /* margin-bottom: 10vh; */
}

.notbtn{
  font-size: 20px;
  width: 90%;
  height: 50px;
  border:0;
  border-radius: 5px;
  background-color: lightgray;
  color:white;
  margin-top: 10vh;
  /* margin-bottom: 10vh; */
}