.header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-bottom: 3vw;
  width: 100%;
  height: 100px;
  /* position: relative;
  bottom: 100px; */
}

.back{
  grid:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: center;
  grid:2;
}

.right{
  grid:3;
  display: flex;
  align-items: center;
  justify-content: center;
}