.masterbankbookpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.masterbankbookpages{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}