.pinpassword{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/* 핀 입력 컨테이너 */
.pininputcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
}

/* 핀 디스플레이 */
.pindisplay {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

/* 각 핀 숫자 요소 */
.pindigit {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem; */
  background-color: #fff;
  margin: 0 5px;
  color: #333;
}

.pindigitFilled{
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: silver;
  margin: 0 5px;
  color: #333;
}

/* 패스워드 입력 키패드 */
.pinkeypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10vh;
}

/* 각 핀 입력 키 */
.pinkey {
  width: 75px;
  height: 75px;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pinkey:hover {
  background-color: #f1f1f1;
}

/* 백스페이스 키 */
.backspace {
  background-color: white;
  border: 2px solid #ccc;
  color: black;
}

.backspace:hover {
  background-color: #ccc;
}

.checkmessage{
  height: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}