.pinpasswordcheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.joke {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.joke img {
  margin-top: 5vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}
