.main {
  font-family: 'LINESeedKR-Rg';
  /* background-color: #80CEBE; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 100%;
}

.header img{
  margin-left: 20px;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.profileImg {
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 50%;
}

.profileImg img {
  border-radius: 50%;
  width: 120px;
}

.profileEdit {
  /* display: block; */
  width: 90%;
}

.detailtitle {
  margin-bottom: 10px;
}

.input{
  width: calc(100% - 15px);
  height: 40px;
  /* background-color: rgba(128, 206, 190, 0.3); */
  background-color: #f2f2f2;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  /* margin-left: 0; */
  padding-left: 15px;
}

.line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin-top: 10px;
  /* margin: 10px 0 10px; */
}

.editConfirm {
  font-family: 'LINESeedKR-Rg';
  width: 90%;
  height: 50px;
  /* margin-top: auto; */
  margin-top: 40px;
  background-color: #80CEBE;
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal{
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  margin-top: 40%;
}

.formbtn{
  /* background-color: #B3BAF5; */
  border: 0;
  background-color: rgba(128, 206, 190, 0.3);
  border-radius: 2px;
  /* height: 25px; */
  font-size: 14px;
  /* font-weight: bold; */
  padding: 4px;
  /* margin-right: 10px; */
}
