body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'TheJamsil5Bold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TheJamsil3Regular';
  src: url(./fonts/The_Jamsil_TTF/The\ Jamsil\ 3\ Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url(./fonts/The_Jamsil_TTF/The\ Jamsil\ 5\ Bold.ttf);
  font-style: normal;
}
